################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ProjectManagement/ProjectManagement.csproj.user
/.vs/ProjectEvaluation/projectmanagement.metadata.v8.bin
/.vs/ProjectEvaluation/projectmanagement.projects.v8.bin
/.vs/ProjectEvaluation/projectmanagement.strings.v8.bin
/.vs/ProjectManagement/DesignTimeBuild/.dtbcache.v2
/.vs/ProjectManagement/FileContentIndex/b92ab8b9-655c-42ca-b61e-b084dba9b298.vsidx
/.vs/ProjectManagement/FileContentIndex/ef5d25ee-625f-4b6c-a7d4-abe171e4c75f.vsidx
/.vs/ProjectManagement/v17/.futdcache.v2
/.vs/ProjectManagement/v17/.suo
/.vs/ProjectManagement/v17/DocumentLayout.json
/ProjectManagement/.vs/ProjectEvaluation/projectmanagement.metadata.v8.bin
/ProjectManagement/.vs/ProjectEvaluation/projectmanagement.projects.v8.bin
/ProjectManagement/.vs/ProjectEvaluation/projectmanagement.strings.v8.bin
/ProjectManagement/.vs/ProjectManagement/DesignTimeBuild/.dtbcache.v2
/ProjectManagement/.vs/ProjectManagement/FileContentIndex/fa0f2dd5-8fc3-4f32-919b-3a122a166f77.vsidx
/ProjectManagement/.vs/ProjectManagement/v17/.futdcache.v2
/ProjectManagement/.vs/ProjectManagement/v17/.suo
/ProjectManagement/.vs/ProjectManagement/v17/DocumentLayout.json
/ProjectManagement/bin/Debug/net8.0-windows/CommunityToolkit.Mvvm.dll
/ProjectManagement/bin/Debug/net8.0-windows/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/ProjectManagement/bin/Debug/net8.0-windows/Microsoft.Extensions.DependencyInjection.dll
/ProjectManagement/bin/Debug/net8.0-windows/Microsoft.Xaml.Behaviors.dll
/ProjectManagement/bin/Debug/net8.0-windows/ProjectManagement.deps.json
/ProjectManagement/bin/Debug/net8.0-windows/ProjectManagement.dll
/ProjectManagement/bin/Debug/net8.0-windows/ProjectManagement.exe
/ProjectManagement/bin/Debug/net8.0-windows/ProjectManagement.pdb
/ProjectManagement/bin/Debug/net8.0-windows/ProjectManagement.runtimeconfig.json
/ProjectManagement/obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/ProjectManagement/obj/Debug/net8.0-windows/App.g.cs
/ProjectManagement/obj/Debug/net8.0-windows/App.g.i.cs
/ProjectManagement/obj/Debug/net8.0-windows/apphost.exe
/ProjectManagement/obj/Debug/net8.0-windows/MainWindow.baml
/ProjectManagement/obj/Debug/net8.0-windows/MainWindow.g.cs
/ProjectManagement/obj/Debug/net8.0-windows/MainWindow.g.i.cs
/ProjectManagement/obj/Debug/net8.0-windows/ProjectM.83DF0853.Up2Date
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement.AssemblyInfo.cs
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement.AssemblyInfoInputs.cache
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement.assets.cache
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement.csproj.AssemblyReference.cache
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement.csproj.CoreCompileInputs.cache
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement.csproj.FileListAbsolute.txt
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement.designer.deps.json
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement.designer.runtimeconfig.json
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement.dll
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement.g.resources
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement.GeneratedMSBuildEditorConfig.editorconfig
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement.genruntimeconfig.cache
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement.GlobalUsings.g.cs
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement.pdb
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement.sourcelink.json
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement_5l1pscyh_wpftmp.AssemblyInfo.cs
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement_5l1pscyh_wpftmp.AssemblyInfoInputs.cache
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement_5l1pscyh_wpftmp.assets.cache
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement_5l1pscyh_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement_5l1pscyh_wpftmp.GlobalUsings.g.cs
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement_5l1pscyh_wpftmp.sourcelink.json
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement_ivg54hwj_wpftmp.AssemblyInfo.cs
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement_ivg54hwj_wpftmp.AssemblyInfoInputs.cache
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement_ivg54hwj_wpftmp.assets.cache
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement_ivg54hwj_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement_ivg54hwj_wpftmp.GlobalUsings.g.cs
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement_ivg54hwj_wpftmp.sourcelink.json
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement_kf1qfxqu_wpftmp.AssemblyInfo.cs
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement_kf1qfxqu_wpftmp.AssemblyInfoInputs.cache
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement_kf1qfxqu_wpftmp.assets.cache
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement_kf1qfxqu_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement_kf1qfxqu_wpftmp.GlobalUsings.g.cs
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement_kf1qfxqu_wpftmp.sourcelink.json
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement_MarkupCompile.cache
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement_MarkupCompile.i.cache
/ProjectManagement/obj/Debug/net8.0-windows/ProjectManagement_MarkupCompile.lref
/ProjectManagement/obj/Debug/net8.0-windows/ref/ProjectManagement.dll
/ProjectManagement/obj/Debug/net8.0-windows/refint/ProjectManagement.dll
/ProjectManagement/obj/Debug/net8.0-windows/Views/LoginWindow.g.i.cs
/ProjectManagement/obj/project.assets.json
/ProjectManagement/obj/project.nuget.cache
/ProjectManagement/obj/ProjectManagement.csproj.nuget.dgspec.json
/ProjectManagement/obj/ProjectManagement.csproj.nuget.g.props
/ProjectManagement/obj/ProjectManagement.csproj.nuget.g.targets
